<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">

<th:block th:include="layout::head" />

</head>

<body class="h-100">

	<header th:replace="layout::header('ユーザー管理', 'users')">
		<!-- 共通レイアウト -->
	</header>

	<section class="container mx-auto pt-5">

		<div class="row">
			<h2 class="col-10">ユーザー一覧</h2>
			<div class="col">
				<a href="@{/users/create}" class="btn btn-info btn-block">新規登録</a>
			</div>
		</div>


		<div th:replace="layout::alert_success(${success})">処理成功時のメッセージ</div>
		<div th:replace="layout::alert_danger(${message})">処理失敗時のメッセージ</div>

		<table class="table table-bordered table-sm" id="users" data-info="false" data-paging="false" data-searching="false" data-ordering="false">
			<thead>
				<tr>
					<th>アカウント</th>
					<th>メール</th>
					<th>有効</th>
					<th>権限</th>
					<th>アクション</th>
				</tr>
			</thead>
			<tbody th:each="user : ${users}" th:object="${user}">
				<tr>
					<td class="text-left" th:text="*{username}">USERNAME</td>
					<td class="text-left" th:text="*{email}">EMAIL</td>
					<td class="text-center" th:text="*{enabled}">ACCEPT</td>
					<td class="text-center" th:text="*{authorities}">ROLE</td>
					<td class="row">
						<!--  -->
						<div class="col">
							<a class="btn btn-primary fas fa-edit" th:href="@{/users/modify/{id}(id=*{id})}" title="編集"></a>
						</div>
						<!--  -->
						<div class="col">
							<a class="btn btn-info fas fa-address-card" th:href="@{/users/view/{id}(id=*{id})}" title="確認"></a>
						</div>
						<!--  -->
						<div class="col">
							<a class="btn btn-danger fas fa-trash" th:href="@{/users/delete/{id}(id=*{id})}" title="削除"></a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

	</section>
</body>

</html>