<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">

<th:block th:include="layout::head" />

</head>

<body class="h-100">

	<div class="card" th:fragment="form(buttonText, action, readonly)">
		<form class="card-body needs-validation" novalidate method="POST" th:action="${action}" th:object="${form}">

			<div th:replace="layout::form_text('アカウント', 'username', 'text', '&#xf007;')"></div>
			<div th:replace="layout::form_text('メールアドレス', 'email', 'email', '&#xf0e0;')"></div>
			<div th:replace="layout::form_text('パスワード', 'password', 'password', '&#xf084;')"></div>
			
			<div th:replace="layout::form_check('有効なアカウント', 'enabled', '有効', '無効', 'btn btn-outline-primary')"></div>
			<div th:replace="layout::form_check('アカウントロック', 'locked', '有効', '無効', 'btn btn-outline-danger')"></div>

			<div class="form-group form-row mt-5" th:if="${buttonText}">
				<button class="btn btn-primary btn-block btn-lg" th:text="${buttonText}">ボタン</button>
			</div>
		</form>
	</div>

	<div th:fragment="sNavi(active, user)">

		<div th:object="${user}" class="list-group">
			<!--  -->
			<a class="list-group-item" th:classappend="${active == 'index' ? 'active disabled' : ''}" th:href="@{/users}">一覧画面</a>
			<!--  -->
			<a class="list-group-item" th:classappend="${active == 'create' ? 'active disabled' : ''}" th:href="@{/users/create}">新規登録</a>
			<!--  -->
			<a class="list-group-item" th:if="*{id}" th:classappend="${active == 'modify' ? 'active disabled' : ''}" th:href="@{/users/modify/{id}(id=*{id})}">変更画面</a>
			<!--  -->
			<a class="list-group-item" th:if="*{id}" th:classappend="${active == 'view' ? 'active disabled' : ''}" th:href="@{/users/view/{id}(id=*{id})}">確認画面</a>
			<!--  -->
			<a class="list-group-item list-group-item-danger" th:if="*{id}" th:classappend="${active == 'delete' ? 'active disabled' : ''}"
				th:href="@{/users/delete/{id}(id=*{id})}">削除画面</a>
		</div>
	</div>
</body>