.navbar-brand {
	min-width: 150px;
}

td.row {
	margin: 0px;
}

td.row>div.col {
	padding: 0.1rem;
}

.btn-sq {
	border-radius: .3rem;
	line-height: 1.5;
	padding: auto;
	width: 2.5rem;
	height: 2.5rem;
}