<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">

<th:block th:include="layout::head" />

</head>

<body class="h-100">

	<header th:replace="layout::header('ログイン', 'login')">
		<!-- 共通レイアウト -->
	</header>

	<section class="container pt-5">

		<div th:replace="layout::alert_warning(${message})">エラーメッセージ</div>

		<div class="card w-75 mx-auto">
			<form class="card-body needs-validation" novalidate th:object="${form}" method="POST" th:action="@{/login}">

				<div class="form-group form-row">
					<label class="col-4" for="username">アカウント</label>
					<div class="col">
						<input class="form-control" th:field="*{username}" th:errorclass="is-invalid">
					</div>
				</div>

				<div class="form-group form-row">
					<label class="col-4" for="password">パスワード</label>
					<div class="col">
						<input class="form-control" th:field="*{password}" th:errorclass="is-invalid">
					</div>
				</div>

				<div class="form-group form-row">
					<div class=" offset-4 col-8 checkbox">
						<input type="checkbox" name="remember-me" id="remember-me" />
						<!-- label -->
						<label for="remember-me">ログイン状態を維持する</label>
					</div>
				</div>

				<div class="col-12">
					<button class="btn btn-primary btn-block btn-lg">ログイン</button>
				</div>

			</form>
		</div>
	</section>
</body>


</body>

</html>